/ {
	fpga_axi: fpga-axi@0 {
		compatible = "simple-bus";
		#address-cells = <0x1>;
		#size-cells = <0x1>;
		ranges;

		reconos_osif: reconos_osif@75a00000 {
				compatible = "upb,reconos-osif-3.1";
				reg = <0x75a00000 0x10000>;
		};

		reconos_osif_intc: reconos_osif_intc@7b400000 {
				compatible = "upb,reconos-osif-intc-3.1";
				reg = <0x7b400000 0x10000>;
				interrup-parent = <&intc>;
				interrupts = <0 58 4>;
		};
		reconos_proc_control: reconos_proc_control@6fe00000 {
				compatible = "upb,reconos-control-3.1";
				reg = <0x6fe00000 0x10000>;
				interrupt-parent = <&intc>;
				interrupts = <0 59 4>;
		};
		

		i2c@41600000 {
			compatible = "xlnx,axi-iic-1.01.b", "xlnx,xps-iic-2.00.a";
			reg = <0x41600000 0x10000>;
			interrupt-parent = <&intc>;
			interrupts = <0 55 0x4>;
			clocks = <&clkc 15>;
			clock-names = "pclk";

			#size-cells = <0>;
			#address-cells = <1>;

			adv7511: adv7511@39 {
				compatible = "adi,adv7511";
				reg = <0x39>, <0x3f>;
				reg-names = "primary", "edid";

				adi,input-depth = <8>;
				adi,input-colorspace = "yuv422";
				adi,input-clock = "1x";
				adi,input-style = <1>;
				adi,input-justification = "right";
				adi,clock-delay = <0>;

				#sound-dai-cells = <0>;

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						adv7511_in: endpoint {
							remote-endpoint = <&axi_hdmi_out>;
						};
					};

					port@1 {
						reg = <1>;
					};
				};
			};
		};

		xi_iic_imageon: i2c@43c40000 {
			compatible = "xlnx,axi-iic-1.02.a", "xlnx,xps-iic-2.00.a";
			reg = <0x43c40000 0x10000>;
			interrupt-parent = <&intc>;
			interrupts = <0 53 4>;
			clocks = <&clkc 15>;
			clock-names = "pclk";

			#size-cells = <0>;
			#address-cells = <1>;


			adv7611@4c {
				compatible = "adi,adv7611";
				reg = <0x4c>;
				debug = <0x02>;
				#address-cells = <0x1>;
				#size-cells = <0x0>;
				#interrupt-parent = <&intc>;
				#interrupts = <0 36 4>;
				interrupt-parent = <&gpio0>;
				interrupts = <78 4>;
				port@0 {
					reg = <0x0>;
				};

				port@1 {
					reg = <0x1>;

					adv7611: endpoint {
						bus-width = <16>;
						remote-endpoint = <&axi_hdmi_rx>;
					};
				};
			};
		

				
		};

		hdmi_dma: dma@43000000 {
			compatible = "adi,axi-dmac-1.00.a";
			reg = <0x43000000 0x10000>;
			#dma-cells = <1>;
			interrupts = <0 57 0>;
			clocks = <&clkc 16>;

			adi,channels {
				#size-cells = <0>;
				#address-cells = <1>;

				dma-channel@0 {
					reg = <0>;
					adi,source-bus-width = <64>;
					adi,source-bus-type = <0>;
					adi,destination-bus-width = <64>;
					adi,destination-bus-type = <1>;
				};
			};
		};

		hdmi_clock: axi-clkgen@79000000 {
			compatible = "adi,axi-clkgen-2.00.a";
			reg = <0x79000000 0x10000>;
			#clock-cells = <0>;
			clocks = <&clkc 16>;
		};

		axi_hdmi@70e00000 {
			compatible = "adi,axi-hdmi-tx-1.00.a";
			reg = <0x70e00000 0x10000>;
			dmas = <&hdmi_dma 0>;
			dma-names = "video";
			clocks = <&hdmi_clock>;

			port {
				axi_hdmi_out: endpoint {
					remote-endpoint = <&adv7511_in>;
				};
			};
		};

		axi_gpio_0: gpio@41200000 {
			#gpio-cells = <0x3>;
			clock-names = "s_axi_aclk";
			clocks = <0x1 0xf>;
			compatible = "xlnx,xps-gpio-1.00.a";
			gpio-controller;
			interrupt-parent = <&intc>;
			interrupts = <52 4>;
			reg = <0x41200000 0x10000>;
			xlnx,all-inputs = <0x1>;
			xlnx,all-inputs-2 = <0x1>;
			xlnx,all-outputs = <0x0>;
			xlnx,all-outputs-2 = <0x0>;
			xlnx,dout-default = <0x0>;
			xlnx,dout-default-2 = <0x0>;
			xlnx,gpio-width = <0x5>;
			xlnx,gpio2-width = <0x8>;
			xlnx,interrupt-present = <0x1>;
			xlnx,is-dual = <0x1>;
			xlnx,tri-default = <0xffffffff>;
			xlnx,tri-default-2 = <0xffffffff>;
        };

		axi_hdmi_rx_core: axi-hdmi-rx@0x75C20000 {
			compatible = "adi,axi-hdmi-rx-1.00.a";
			reg = <0x75C20000 0x10000>;
			dmas = <&axi_dmac 0>;
			dma-names = "rx";
			#gpios = <&axi_gpio_0 0 0 0>;
			gpios = <&gpio0 79 0>;
	

			port {
				#address-cells = <0>;
				#size-cells = <0>;

				axi_hdmi_rx: endpoint {
					remote-endpoint = <&adv7611>;
				};
			};
		};

		axi_dmac: dmac@43c20000 {
			compatible = "adi,axi-dmac-1.00.a";
			reg = <0x43c20000 0x10000>;
			#dma-cells = <1>;
			interrupts = <0 54 0>;
			clocks = <&clkc 16>;

			adi,channels {
				#size-cells = <0>;
				#address-cells = <1>;

				dma-channel@0 {
					reg = <0>;
					adi,source-bus-width = <64>;
					adi,source-bus-type = <2>;
					adi,destination-bus-width = <64>;
					adi,destination-bus-type = <0>;
				};
			};
		};
	};
};
